button{
    background-color: cornflowerblue;
    border-radius: 30px;
    padding: 5px 10px;
}
h2{
    text-align: center;
    color: rgb(10, 37, 35);
}
.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    background-color: silver;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    background-color: rgb(10, 37, 35);
    height: 70px;
    width: 200px;
    margin-left: 50px;
    border-radius: 10px;
}
.icons{
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}
.icon{
    width: 40px;
}
.banner{
    text-align: center;
    background-color: rgb(10, 37, 35);
    color: cornflowerblue;
    padding: 50px 50px 135px;
}
.position-box{
    display: flex;
    width: 640px;
    justify-content: space-between;
    position: absolute;
    margin: 40px auto;
    left: 0;
    right: 0;
}
.img{
    background-color: cornflowerblue;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
.main{
    background-color: silver;
    padding: 125px 50px 50px 50px;
    color: rgb(10, 37, 35);
}
.card{
    margin: 10px;
    max-width: 400px;
}
.big-img{
    background-color: cornflowerblue;
    height: 200px;
    width: 400px;
    border-radius: 10px;
}
.prw-img{
    background-color: cornflowerblue;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    margin: 10px;
}
.about{
    margin: 50px;
}
.round{
    border-radius: 50%;
    margin-right: 20px;
    min-width: 200px;
}
.footer{
    background-color: rgb(10, 37, 35);
    color: cornflowerblue;
}
.footer-img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: cornflowerblue;
    margin: 50px 10px 20px;
}
.footer-text{
    margin: 10px;
}